/* Variables */
:root {
    --blue-dark : #212A3E;
    --blue-light : #394867;
    --gray : #9BA4B5;
    --white-blue : #F1F6F9;
}

/* General style  */
body {
    display: flex;
    margin: 0px;
    justify-content: center;
}

.display-screen {
    display: inline-flex;
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    color: var(--blue-dark);
}

.calculator-container.body {
    background-color: var(--blue-dark);
}

.number-button {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--blue-light);
    color: var(--white-blue)
}

.operator-button {
    width: 50px;
    height: 50px;
    background-color: var(--blue-light);
    color: var(--white-blue);
}

.clear-button,
.delete-button {
    width: 100px;
    height: 50px;
    background-color: var(--white-blue);
    color: var(--blue-dark);
}

.equals {
    width: 50px;
    height: 50px;
    background-color: var(--white-blue);
    color: var(--blue-dark);
}

/* Display and sort containers and elements  */
.calculator-container.body {
    display: inline-flex;
    flex-direction: column;
    /* align-items: center; */
}

.calculator-container.operators-numbers {
    display: flex;
    flex-direction: row;
}

.calculator-container.numbers {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 2px; */
}

.calculator-container.operators {
    display: flex;
    flex-direction: column;
}

.calculator-container.display-buttons {
    display: flex;
}

.calculator-container.display {
    display: flex;
}
