/* Variables */
:root {
    --blue-dark : #212A3E;
    --blue-light : #394867;
    --gray : #9BA4B5;
    --white-blue : #F1F6F9;
    --cyan : #72d1d1;
    --green : #88c288;
}

/* General style  */
body {
    display: flex;
    margin: 0;
    justify-content: center;
}

.display-screen {
    display: inline-flex;
    width: 100%;
    min-height: 90px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: end;
    background-color: var(--gray);
    color: var(--blue-dark);
}

.calculator-container.body {
    width: 300px;
    background-color: var(--blue-dark);
}

/* Buttons style  */
.number-button {
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0;
    background-color: var(--blue-light);
    color: var(--white-blue);
    font-size: 1.25rem;
}
:hover.number-button {
    background-color: var(--gray);
    color: var(--blue-dark);
}

.operator-button {
    width: 75px;
    height: 75px;
    background-color: var(--blue-light);
    color: var(--white-blue);
    font-size: 1.25rem;
}
:hover.operator-button {
    background-color: var(--cyan);
    color: var(--blue-dark);    
}

.clear-button,
.delete-button {
    width: 150px;
    height: 75px;
    background-color: var(--white-blue);
    color: var(--blue-dark);
    font-size: 1.25rem;
}
:hover.clear-button,
:hover.delete-button {
    background-color: var(--gray);
    color: var(--blue-dark);
}

.number-button,
.operator-button,
.equals {
    border: none;
    border-radius: 60%;
}

.equals {
    width: 75px;
    height: 75px;
    background-color: var(--white-blue);
    color: var(--blue-dark);
    font-size: 1.25rem;
}

:hover.equals {
    background-color: var(--green);
    color: var(--blue-dark);
}
/* Buttons style  */

/* Display and sort containers and elements  */
.calculator-container.body {
    margin-top: 100px;
    display: inline-flex;
    flex-direction: column;
    /* align-items: center; */
}

.calculator-container.operators-numbers {
    display: flex;
    flex-direction: row;
}

.calculator-container.numbers {
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 2px; */
}

.calculator-container.operators {
    display: flex;
    flex-direction: column;
}

.calculator-container.display-buttons {
    display: flex;
}

.calculator-container.display {
    display: flex;
}
